body{
    background-color: black;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100%;
}

header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    font-size: 2em;
    color: aliceblue;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    margin-left: 20px;
    list-style: none;
}
header ul li a{
    color:aliceblue;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    padding: 6px 15px;
}
header ul a:hover,
header ul a.active{
    background-color: rgb(180, 255, 251);
    color:black;
}
p{
    font-size: 16px;
    text-align: center;
    margin-bottom: 5%;
}
#topbar{
    background-image: url("PNGS/TopBar.png");
    background-size: cover;
    height: 5vh;
    margin: 0px;
}
.mainPage{
    margin-top: 5vh;
    background-image: url("PNGS/Wheat-.jpg");
    background-size: cover;
    height: 95vh;
}
.contentPage{
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
    background: linear-gradient(.25turn, rgba(255,255,255,0), aliceblue 50px,aliceblue 94%, rgba(255,255,255,0));
}
/*This whole section is dedicated to the block for blog cards and the ability to track interesting things to me or share things I have learned!*/
#--blog-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    margin-top: 0;
    flex-wrap: wrap;
    
}
.firstbox{
    width: 250px;
    margin: 1%;
    background-color: rgb(11, 16, 145);
    border-radius: 20%;
    min-height: 350px;
    max-height: 350px;
}
.--img-div{
    width: 100%;
    height: 100px;
}
.--img-div img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
}
.--blog-title h1{
    margin: 0px;
    text-emphasis: none;
    font-size: 2rem;
    color: rgb(38, 38, 38);
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.--date-posted p{
    color: rgb(199, 174, 12);
}
.--blog-text p{
    color: rgb(255, 255, 255);
}
.--blog-link a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 5px;
    color: rgb(199, 174, 12);
}

.--blog-link a:hover{
    color: rgb(255, 255, 255);
}